/* Universal Styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Header Styles */

.header {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin: auto;
    height: 100px;
    padding: 5px;
    background: whitesmoke;
    color: turquoise;
    font-size: 30px;
    border-bottom: 1px solid rgb(85, 7, 85);
  }

.text-right {
    width: 100%;
    
  }

ul { 
    display: flex;
    list-style: none;
    float: right;
}

nav li {
    padding: 20px;
    text-decoration: none;
    list-style-type: none;
    display: inline-block;
  }

span {
      font-family: 'Sora', sans-serif;
      font-size: 21px;
      color:rgba(110, 16, 110, 0.808)
  }

span:hover {
    color: turquoise;
    text-decoration: underline;
  }

h1 {
     padding-left: 0.5%;
     font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
 }


a:link {
    text-decoration: none;
}
a {
    display: block;
}


/* Sky Banner Styles */



.header-2 {
    width: 100%;
    height: 200px;
    /* The source for this image is in the README. */
    background-image: url("cloud--1024x667.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/* Flex-Container Section Styles */



.flex-container {
    display: flex;
    background-color: skyblue;
    margin: 2%;
    justify-content: flex-end;
}

.left-text {
    width: 42%;
    font-size: 42px;
    font-family: 'Sora', sans-serif;
    text-align: right;
    margin: auto;
    margin-right: 15px;
    /* Shift this around to get the left border lined up. */
    padding-right: 4px;
    padding-left: 24px;
}

img {
    width: 160px;
    height: 180px;
    border-radius: 50%;
}

.right-content {
    width: 100%;
    font-size: 16px;
    padding: 10px;
    padding-left: 35px;
    margin: 5px;
    border-left: 3px solid darkcyan;
    font-family: 'Sora', sans-serif;
}

/* Work Section Styles */

.work-container-right {
    display: flex;
    justify-content: space-evenly;
    background-color: skyblue;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    margin-left: 2px;
    width:100%;
    padding: 20px;
    border-left: 3px solid darkcyan;
}

.work-item {
    margin: 10px;
    border: 3px solid black;
    background-image: url("640x360.png");
    font-family: 'Sora', sans-serif;
    color: rgb(36, 84, 85);
}

.work-item-1 {
    /* Setting flex grow to 1 on one of the top items and one of the bottom items lined things up.  */
    flex: 2 1 100%;
    min-height: 300px;
}


.work-item-2 {
    min-height: 100px;
    width: 50%;
}

.work-item-3 {
    flex: 1 0 0;
    min-height: 100px;
    width: 50%;
}

.work-item-4 {
    min-height: 100px;
    width: 50%;
}

.work-item-5 {
    flex: 1 0 0;
    min-height: 100px;
    width: 50%;
}

.work-item:hover {
    border-color: teal;
    border-style: double;
    border-width: 4px;
    color:white;
  }


/* Footer Styles */

footer {
    text-align: center;
    color: rgb(116, 116, 214);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



/* Media Queries */


@media screen and (min-width: 330px) and (max-width: 594px) {
    header {
        flex-wrap: wrap;
        width: 100%;
        margin: auto;
        text-align: center;
    }

span {
    color: white;
    font-weight: bold;
} 

    h1 {
        text-align: center;
    }

.about-container {
    flex-wrap: wrap;
    width: 100%;
    margin-right: auto;
}

.work-container {
    flex-wrap: wrap;
    width: 100%;
} 

}

@media screen and (min-width:594px) and (max-width: 786px) {
    header {
        flex-wrap: wrap;
        width: 100%;
        margin: auto;
        text-align: center;
    }

    span {
        color: white;
        font-weight: bold;
    }

    h1 {
        flex-wrap: wrap;
        text-align: center;
    }

.about-container {
    flex-wrap: wrap;
    width: 100%;
    margin-right: auto;
}

.work-container {
    flex-wrap: wrap;
    width: 100%;
}
}

@media screen and (min-width:786px) and (max-width: 1000px) {
    header {
        flex-wrap: wrap;
        width: 100%;
        margin: auto;
        text-align: center;
    }

    span {
        color: white;
        font-weight: bold;
    }

    h1 {
        flex-wrap: wrap;
        text-align: center;
    }

.about-container {
    flex-wrap: wrap;
    width: 100%;
    margin-right: auto;
}

.work-container {
    flex-wrap: wrap;
    width: 100%;
}
}
