* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* main {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
} */

.header {
    display: flex;
    /* height: 100%; I need to ask about this...*/
    /* width: 100%; */
    justify-content: flex-end;
    align-items: flex-end;
    margin: auto;
    height: 100px;
    padding: 5px;
    /* text-align: left; */
    background: whitesmoke;
    color: turquoise;
    font-size: 30px;
    border-bottom: 1px solid rgb(85, 7, 85);
  }

.text-right {
    width: 100%;
    
  }

/* Still a bit uncertain how flex works... */
ul { 
    display: flex;
    list-style: none;
}

nav li {
    padding: 20px;
    text-decoration: none;
    list-style-type: none;
    display: inline-block;
  }

  span {
      font-family: 'Sora', sans-serif;
      font-size: 21px;
      color:rgba(110, 16, 110, 0.808)
  }

  span:hover {
    color: turquoise;
    text-decoration: underline;
  }

 h1 {
     /* Used padding here to get the links to move more toward the right...I think there is probably a better way to do this. */
     padding-right: 20%;  
     padding-left: 0.5%;
     font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
 }

/* h2 {
    margin-left: 16px;;
} */
a:link {
    text-decoration: none;
}

/* Begin Sky Banner */
.header-2 {
    width: auto;
    height: 200px;
    background-image: url("cloud--1024x667.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/* Start of About Section */
.about-container {
    display: flex;
    /* align-items: center;
    justify-content: center; */
    background-color: #e91e1e;
    margin: 2%;
    /* margin: auto; will fill in everything */
    justify-content: flex-end;
}


.about-text {
    width: 42%;
    font-size: 42px;
    font-family: 'Sora', sans-serif;
    text-align: right;
    margin: auto;
    margin-right: 15px;
    /* Shift this around to get the left border lined up. */
    padding-right: 4px;
    padding-left: 24px;
    /* padding: 10px; */
    /* width: 50%; */
}

img {
    width: 320px;
    height: 180px;
}

.about-info {
    width: 100%;
    /* margin: 10px; */
    font-size: 16px;
    padding: 10px;
    padding-left: 35px;
    margin: 5px;
    border-left: 3px solid darkcyan;
    font-family: 'Sora', sans-serif;
}

/* Start of work section */

.work-container-right {
    display: flex;
    justify-content: space-evenly;
    background-color: blue;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    margin-left: 2px;
    /* margin-top: 20%; */
    /* margin-right: 2%; */
    padding: 20px;
    border-left: 3px solid darkcyan;
}

.work-item {
    width: 50%;
    margin: 10px;
    border: 3px solid black;
    background-color: yellow;
}

.work-item-1 {
    /* Setting flex grow to 1 on one of the top items and one of the bottom items lined things up.  */
    flex: 2 1 50%;
    min-height: 300px;
}


.work-item-2 {
    min-height: 100px;
    width: 400px;
}

.work-item-3 {
    flex: 1 0 0;
    min-height: 100px;
    width: 400px;
}

.work-item-4 {
    min-height: 100px;
    width: 400px;
    /* width: 80%; */
}

.work-item-5 {
    flex: 1 0 0;
    min-height: 100px;
    width: 400px;
}
/* .info {
    float: right;
    width: 50px;
    background-color: red;
} */




@media screen and (min-width: 330px) and (max-width: 594px) {
    header {
        flex-wrap: wrap;
        width: 100%;
        margin: auto;
        text-align: center;
    }
span {
    color: white;
    font-weight: bold;
}
    h1 {
        text-align: center;
    }

.about-container {
    flex-wrap: wrap;
    width: 100%;
    margin-right: auto;
}

.work-container {
    flex-wrap: wrap;
    width: 100%;
} 

}

/* @media screen and (min-width:594) and (max-width: 786px) {
    .header {
        flex-wrap: wrap;
        width: 100%;
        padding: 25px;
        margin: auto;
        text-align: center;
    }
}
.about-container {
    flex-wrap: wrap;
    width: 50%;
}

.work-container {
    flex-wrap: wrap;
    width: 50%;
}

@media all and (max-width: 594px) {
    header {
        flex-wrap: wrap;
        width: 100%;
    }
}

.about-container {
    flex-wrap: wrap;
    width: 100%;
}

.work-container {
    flex-wrap: wrap;
    width: 100%;
} */

/* ul {
    flex-wrap: wrap;
    width: 100%;
} */
